<div class="m-5">
<div class="flex justify-center">
  <a href="https://www.flaticon.com/free-icons/crochet" title="crochet icons">
    <img src="assets\crochet.png" width="50" height="50">
</a>
  <article class="prose lg:prose-xl">
    <h1>Crochet Calculator</h1>
  </article>
</div>
<div>
  <ul class="menu menu-horizontal bg-base-200 rounded-box w-full">
    <li class="w-full"><a>Item 1</a></li>
    <li class="w-full"><a>Item 2</a></li>
  </ul>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">What is the name of your desired stitch?</span>
    </div>
    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">What is the size of your yarn?</span>
    </div>
    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">What is the size of your hook?</span>
    </div>
    <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  </label>
</div>
</div>